<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action = "registerComplete" method = "post">
     아이디 :  <input type = "text" name = "client_id"><br>
     비밀번호 :  <input type = "text" name = "client_password"><br>
     닉네임 :  <input type = "text" name = "client_nickname"><br>
     이메일 :  <input type = "text" name = "client_email"><br>
      이메일 :  <input type = "text" name = "client_phone"><br>
      <input type = "submit" value = "가입완료"></form>
</body>
</html>